.text{
	min-height: 30px;
}

* {
	font-family:  helvetica, sans-serif;
	font-size: small;
	
}


.toolbox {
  float: right;
  margin-top: -24px;
}

.header {
	border-bottom: 1px solid #77dd77;
}

.message {
	border-top: 1px solid gray;
}

.gadget {
  border: 1px solid lightblue;
  padding: 3px;
  border-radius: 10px;
}


.thread {
	padding-left: 3px;
	margin-top: 10px;
	margin-left: 10px;
	border-left: 3px solid #007fff;
}

